<div class="box box-default" style="height: 100%">
  <div class="box-body padding-lg">
    <div class="row">
      <div class="col-xl">
        <ng-container *ngIf="baseFormService.selectedItem">
          <h2 class="article-title" l10nTranslate>{{baseFormService.title}}</h2>
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <form name="{{ name }}">
                <div class="form">

                  <ng-container [ngTemplateOutlet]="template"
                    [ngTemplateOutletContext]="{$implicit: baseFormService.selectedItem}"></ng-container>

                  <div class="dx-field">
                    <div class="dx-field-label"></div>
                    <div class="dx-field-value">
                      <dx-button style="margin-right: 2px" (click)="saveClick($event)"
                        text="{{ 'COMMON.SAVE' | translate:locale.language  }}"
                        [disabled]="disabled"></dx-button>
                      <dx-button *ngIf="baseFormService.selectedItem.isNewObject" (click)="abort($event)"
                        text="{{ 'COMMON.ABORT' | translate:locale.language  }}"
                        [disabled]="disabled"></dx-button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!baseFormService.selectedItem">
          <h2 class="article-title" l10nTranslate>COMMON.NOTHING_SELECTED</h2>
        </ng-container>
      </div>
    </div>
  </div>
</div>