<div class="container-fluid no-breadcrumbs page-dashboard" style="background-color: white">
  <div class="row core-full-height">

    <core-master-detail>
      <ng-container master>
        <core-cloud-list [columns]="['serverName', 'serverGuid', 'version','lastKnownConnection','lastKnownRemoteConnectUrl', 'lastKnownRemoteConnectUrlDate']"></core-cloud-list>
      </ng-container>
      <ng-container detail>
        <core-server-connections-detail></core-server-connections-detail>
      </ng-container>
    </core-master-detail>

  </div>
</div>