<core-cloud-form #cloudForm [name]="'serverVersionForm'" [loading]="loading" [readOnlyIfNotNew]="true">
  <ng-template #template let-item>

    <core-cloud-editor [title]="'COMMON.SERVERS.SERVER'">
      <dx-select-box (onValueChanged)="serverChaned($event)" [items]="servers" [value]="item.this2CoreServer" valueExpr="objId"
        displayExpr="serverName" [readOnly]="!item.isNewObject"></dx-select-box>
    </core-cloud-editor>

    <core-cloud-editor [title]="'COMMON.LICENSED_TO'">
      <dx-text-box valueChangeEvent="keyup" [(value)]="item.licensedTo" [readOnly]="!item.isNewObject"></dx-text-box>
    </core-cloud-editor>

    <core-cloud-editor [title]="'COMMON.EMAIL'">
      <dx-text-box valueChangeEvent="keyup" [(value)]="item.email" [readOnly]="!item.isNewObject"></dx-text-box>
    </core-cloud-editor>


    <core-cloud-editor [title]="'COMMON.LICENSE.MAX_DATAPOINTS'">
      <dx-number-box valueChangeEvent="keyup" [(value)]="item.maxDatapoints" [readOnly]="!item.isNewObject"></dx-number-box>
    </core-cloud-editor>

    <core-cloud-editor [title]="'COMMON.LICENSE.MAX_USERS'">
      <dx-number-box valueChangeEvent="keyup" [(value)]="item.maxUsers" [readOnly]="!item.isNewObject"></dx-number-box>
    </core-cloud-editor>

    <core-cloud-editor [title]="'COMMON.LICENSE.ALLOW_REMOTE_CONTROL'">
      <dx-check-box [(value)]="item.allowRemoteControl" [readOnly]="!item.isNewObject"></dx-check-box>
    </core-cloud-editor>

    <core-cloud-editor [title]="'COMMON.LICENSE.MAX_REMOTE_TUNNELS'">
      <dx-number-box valueChangeEvent="keyup" [(value)]="item.maxRemoteTunnels" [readOnly]="!item.isNewObject"></dx-number-box>
    </core-cloud-editor>
    
    <core-cloud-editor [title]="'COMMON.LICENSE.MAX_RECORDING_DATAPOINTS'">
      <dx-number-box valueChangeEvent="keyup" [(value)]="item.maxRecordingDataPoints" [readOnly]="!item.isNewObject"></dx-number-box>
    </core-cloud-editor>

    <core-cloud-editor [title]="'COMMON.LICENSE.KEY'" *ngIf="!item.isNewObject">
      <dx-text-area [readOnly]="true" valueChangeEvent="keyup" [(value)]="item.licenseKey" [height]="400"></dx-text-area>
    </core-cloud-editor>

    <core-cloud-editor [title]="'COMMON.LICENSE.FEATURES'">
      <dx-data-grid [dataSource]="licenseService.features" keyExpr="featureName" [(selectedRowKeys)]="selectedFeatures" [readOnly]="!item.isNewObject">
        <dxo-selection mode="multiple"></dxo-selection>
        <dxi-column dataField="featureName" caption="Name"></dxi-column>
      </dx-data-grid>
    </core-cloud-editor>

  </ng-template>
</core-cloud-form>