<ul class="nav" coreAccordionNav coreAppendSubmenuIcon coreSlimScroll coreHighlightActiveItems>
  <!-- <li class="nav-header"><span>Navigation</span></li> -->
  <li><a mat-button [routerLink]="['/admin/dashboard']"><i class="nav-icon material-icons">home</i><span class="nav-text">Dashboard</span></a></li>
  <li><a mat-button [routerLink]="['/admin/servers']"><i class="nav-icon material-icons">storage</i><span class="nav-text">Core Server</span></a></li>
  <li><a mat-button [routerLink]="['/admin/licenses']"><i class="nav-icon material-icons">text_fields</i><span class="nav-text">Licenses</span></a></li>
  <li><a mat-button [routerLink]="['/admin/versions']"><i class="nav-icon material-icons">sync</i><span class="nav-text">Versions</span></a></li>
  <li><a mat-button [routerLink]="['/admin/plugins']"><i class="nav-icon material-icons">extension</i><span class="nav-text">Plugins</span></a></li>


  <li class="nav-divider"></li>
 </ul>
