<div class="page-auth">
  <div class="main-body">
    <div class="card card-white">
      <div class="card-content">
        <div class="logo">
          <a [routerLink]="['/']" translate>COMMON.LOGIN.RESET</a>
        </div>

        <form name="material_login_form" class="form-validation">
          <fieldset>
            <mat-form-field class="full-width no-margin-bottom">
              <input required matInput placeholder="{{ 'COMMON.USER.EMAIL' | translate:lang }}" type="email" name="email">
              <mat-icon matSuffix class="material-icons">mail_outline</mat-icon>
            </mat-form-field>
            <p class="text-center text-small no-margin" translate>
              COMMON.LOGIN.RESET_PW_INFO
            </p>

            <div class="divider divider-md"></div>
            <button mat-raised-button type="button" color="primary" class="float-right" translate>COMMON.LOGIN.RESET</button>
          </fieldset>
        </form>

        <div class="additional-info">
          <a [routerLink]="['/login']" translate>COMMON.LOGIN.NAME</a>
        </div>
      </div>
    </div>
  </div>
</div>