<div class="box box-default" style="height: 100%">
  <div class="box-body padding-lg">
    <div class="row">
      <div class="col-xl">

        <div style="height: 100%">
          <h2 class="article-title" translate>{{baseFormService.title}}</h2>
          <div class="mdl-card__actions mdl-card--border">
            <dx-button style="margin-right: 2px" (click)="add()" icon="add"></dx-button>
            <dx-button style="margin-right: 2px" (click)="delete()" icon="remove"></dx-button>
            <dx-button style="margin-right: 2px" (click)="refresh($event)" icon="refresh"></dx-button>
            <dx-button *ngIf="showUploadButton" style="margin-right: 2px" (click)="upload($event)" icon="upload">
            </dx-button>
          </div>
          <dx-data-grid #grid keyExpr="objId" id="gridContainer" [dataSource]="baseFormService.dataSource"
            [columns]="columns" [showBorders]="true" [(selectedRowKeys)]="baseFormService.selectedRows"
            (onSelectionChanged)="selectionChanged($event)">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>